
/*
 * Empty Stylesheet file.
 */

@font-face {
    font-family: "Retro Gaming"; /* Nombre de la fuente que deseas utilizar */
    src: url("../resources/fonts/RetroGaming.ttf"); /* Ruta de la fuente descargada */
}

/* P05_PartidaView */
.vx-itemDentro {
    -fx-border-color: grey;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 50, 0, 0, 0);
}

.images-effect {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);
}

.fondo-joker{
    -fx-background-image: url("../resources/fondos/Joker.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.fondo-inicio{
    -fx-background-image: url("../resources/fondos/fondoInicio.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.fondo-pantalla{
    -fx-background-image: url("../resources/fondos/fondoPantallas.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
/******************************************************************************************************/
.mfx-button-inicio{
    -fx-cursor: hand;
    -fx-background-color: transparent; /* Establece el fondo del botón como transparente */
    -fx-font: 40px "Retro Gaming";
    -fx-background-repeat: no-repeat; /* Evita que la imagen se repita */
    -fx-background-size: contain; /* Ajusta el tamaño de la imagen al botón */
    -fx-background-position: center; /* Centra la imagen en el botón */
    -fx-padding: 0;  /*Elimina el relleno del botón */
    -fx-text-fill: #ffffff;
}

.mfx-button-menu{
    -fx-cursor: hand;
    -fx-background-color: transparent; /* Establece el fondo del botón como transparente */
    -fx-font: 25px "Retro Gaming";
    -fx-background-repeat: no-repeat; /* Evita que la imagen se repita */
    -fx-background-size: contain; /* Ajusta el tamaño de la imagen al botón */
    -fx-background-position: center; /* Centra la imagen en el botón */
    -fx-padding: 0;  /*Elimina el relleno del botón */
    -fx-text-fill: #ffffff;
}

.mfx-button-menu-minus{
    -fx-cursor: hand;
    -fx-background-color: transparent; /* Establece el fondo del botón como transparente */
    -fx-font: 20px "Retro Gaming";
    -fx-background-repeat: no-repeat; /* Evita que la imagen se repita */
    -fx-background-size: contain; /* Ajusta el tamaño de la imagen al botón */
    -fx-background-position: center; /* Centra la imagen en el botón */
    -fx-padding: 0;  /*Elimina el relleno del botón */
    -fx-text-fill: #ffffff;
}

.mfx-button-menu .mfx-ripple-generator{
    -mfx-paused: true;
}
.mfx-button-inicio .mfx-ripple-generator{
    -mfx-paused: true;
}
.mfx-button-menu-minus .mfx-ripple-generator{
    -mfx-paused: true;
}
/******************************************************************************************************/
.mfx-text-field-edit {
    -mfx-main: #000000;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-border-width: 2px;
    -fx-font: 15px "Retro Gaming";
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);
}

.mfx-text-field-edit .floating-text {
    -fx-font: 15px "Retro Gaming";
    -fx-text-fill: -mfx-text-he;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);
}

.mfx-text-field-edit:floating .floating-text {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);
}

/******************************************************************************************************/
.mfx-radio-button{
    -fx-font: 15px "Retro Gaming";
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(153, 153, 153, 1), 10, 0.5, 0.0, 0.0);
    -mfx-main: #ffff00;
    -mfx-secondary: #424242;
}
/******************************************************************************************************/
.panel-border{
    -fx-background-radius: 15px;
    -fx-background-color: rgba(153, 153, 153, 0.49);
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);
}
/******************************************************************************************************/
.label-all {
    -fx-font: 20px "Retro Gaming";
    -fx-text-fill: #ffffff;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);*/
}

.label-all-black {
    -fx-font: 20px "Retro Gaming";
    -fx-text-fill: #000000;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);*/
}

.label-minus {
    -fx-font: 10px "Retro Gaming";
    -fx-text-fill: #000000;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 10, 0.5, 0.0, 0.0);*/
}